body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column-layout-wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  vertical-align: top;
}

.column-layout-column {
  flex-direction: column;
  width: 100%;
  border-width: 1px;
  border-color: #000;
}
