/* Journal Reader */
.rendered-markup-display-name {
  position: relative;
  color: #00F;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 3px;
  border: 1px solid black;
  color: #000;

  z-index: 100;
  background-color: #FFF;
}

.rendered-markup-display-name:hover .tooltip {
  display: block;
}